# Environment
.venv/

# Python cache
__pycache__/
app/__pycache__/
test/__pycache__/

# uv cache
uv.lock

# pytest
.pytest_cache/

# model files (do not send to github)
model/
model/*

# other
notes/
notes/*

